@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.main {
    height: 100vh;
    width: 100%;
    background-image: url("photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar-menu {
    width: 260px;
    height: 100%;
    background-color: rgba(145, 139, 139, 0.187);
    position: fixed;
    left: -320px;
    transition: all 0.5s linear;
}

@media screen and (max-width:1200px){
    .sidebar-menu{
        width: 100px;
    }
}

.main input {
    display: none;
}



.main .btn-one {
    position: absolute;
    top: 20px;
    left: 20px;

}

.btn-one svg {
    transform: scale(1.6);
    color: white;
    cursor: pointer;
}

.btn-one svg:hover {
    transform: scale(2);
    transition: all ease-in-out 0.3s;
}

.btn-two svg {
    transform: scale(1.2);
    color: grey;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 230px;
}
@media screen and (max-width:1200px){
    .btn-two svg{
        left: 35px;
    }
}

.btn-two {
    opacity: 0;
}

.btn-two svg:hover {
    transform: scale(1.6);
    transition: all ease-in-out 0.3s;
}

.logo {
    color: white;
    font-size: 1.6em;
    font-weight: 700;
    position: relative;
    top: 4px;
    left: 35px;

}
@media screen and (max-width:1200px){
    .logo{
        display: none;
    }
}

.mid {
    padding: 50px 0;
    font-size: 1.4em;
}

.mid svg {
    color: white;
}

.mid ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.mid ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}
@media screen and (max-width:1200px){
    .mid ul{
        padding-top: 50px;
    }
    .mid ul li{
        justify-content: center;
    }
    .mid ul li a{
        display: none;
    }
}

.mid ul li:hover {
    border: 1px solid white;
    box-shadow: -4px 0px 8px 2px white;
}

.mid a {
    color: white;
}

.mid ul li {
    list-style: none;
}

.socialmedia-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 100px;
    left: 60px;
}
@media screen and (max-width:1200px){
    .socialmedia-link{
        transform: scale(0.68);
        left: -23px;
    }
}

.socialmedia-link a {
    color: white;
    opacity: 0.5;
}

.socialmedia-link a:hover {
    opacity: 1;
    transform: scale(1.2);
}

#check:checked~.sidebar-menu {
    left: 0;
}

#check:checked~.btn-one {
    opacity: 0;
}

#check:checked~.sidebar-menu .btn-two {
    opacity: 1;
}